html{
    box-sizing: border-box;
}

*,
*::beforem,
*::after{
    box-sizing: inherit;
}

@font-face {
    font-family: 'yekan';
    src: url("http://up.misaqnet.ir/view/2916668/Yekan.eot"); /* IE9 Compat Modes */
    src: url("http://up.misaqnet.ir/view/2916668/Yekan.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
    url("http://up.misaqnet.ir/view/2916671/Yekan.woff") format('woff'), /* Pretty Modern Browsers */
    url("http://up.misaqnet.ir/view/2916670/Yekan.ttf")  format('truetype') /* Safari, Android, iOS */;
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-primery:#002b6e;
    --color-secondary:#0057ae;
    --color-shape:#00B1EE;
    --color-shape-lite:#00c6e0;
    --color-gray:gray;
    --color-white:#ffff;
    --color-black:black;
}

.inner-container{
    display: block;
    width: 85%;
    margin: auto;
    margin-left: auto;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'yekan',"Helvetica Neue",sans-serif !important;
    min-width: 390px;
}

input,
button,
textarea{
    font-family: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

/* header config */

header-nav{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-logo-img img{
    width: 100%;
}

.nav-logo-img{
    width: 2.5em;
}

.nav-logo-name{
    padding: .5em;
    font-size: 1.2em;
    font-weight: 600;
}

#nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width:768px){
    header-nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo{
        flex-direction: row;
    }

    #nav li{
        margin-right: 1.5em;
    }
}

/* section hero config */

.hero{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

.hero-fig{
    position: relative;
    width: 330px;
}

.hero-fig img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.hero-fig::after{
    position: absolute;
    content: "";
    border: 3px solid var(--color-shape);
    border-radius: 15px;
    width: 210px;
    height: 330px;
    bottom: 28%;
    left: 45%;
    z-index: -1;
}

.hero-fig::before{
    position: absolute;
    content: "";
    border: 3px solid var(--color-secondary);
    border-radius: 15px;
    width: 210px;
    height: 330px;
    top: 28%;
    right: 45%;
    z-index: -1;
}

.hero-figcaption{
    margin-top: 5.5rem;
}

.hero-figcaption h1{
    font-size: 3rem;
    color: var(--color-primery);
}

.hero-figcaption p{
    color: var(--color-gray);
    font-size: 1rem;
    margin-top: 2.5rem;
}

@media screen and (min-width:992px){
    .hero{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
   
    .hero-fig{
        flex: 0 0 auto;
    }

    .hero-figcaption{
        margin-top: 0;
        width: 50%;
    }

}

@media screen and (min-width:1050px){
    .hero-figcaption{
        width: 55%;
    }
}

@media screen and (min-width:1200px){
    .hero-figcaption{
        width: 60%;
    }
}

.hero-figcaption .fig-btn{
    display: inline-block;
    padding: .7rem 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: 7px;
    background: var(--color-shape-lite);
    border: 2px solid var(--color-shape-lite);
    color: var(--color-white);
    font-size: 1.1em;
}

.hero-figcaption .fig-btn:last-child{
    background: none;
    color: var(--color-shape-lite);
}

/* section addon config */

.addon{
    margin-top: 10rem;
}
.addon .addon-col{
    display: flex;
    padding: 1em 0;
}

.addon .addon-col::before{
    display: flex;
    content: " ";
    height: 100%;
    background: var(--color-shape);
    width: 5px;
    margin-left:1em;
}

.addon .content .title{
    display: flex;
    align-items: center;
}

.addon .content .title h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    color: var(--color-shape);
    margin: 0;
    margin-left: 1.5rem;
    font-weight: 700;
}

.addon .content p{
    color: var(--color-gray);
    font-size: 1rem;
    margin: 0;
    margin-top: 1rem;
}

/* section best-product config */

.best-product{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.best-product-fig{
    position: relative;
    width: 330px;
}

.best-product-fig img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.best-product-fig::before{
    position: absolute;
    content: "";
    border: 3px solid var(--color-secondary);
    border-radius: 15px;
    width: 210px;
    height: 330px;
    top: 28%;
    right: 45%;
    z-index: -1;
}

.best-product-figcaption{
    margin-top: 5.5rem;
}

.best-product-figcaption h1{
    font-size: 2.5rem;
    color: var(--color-primery);
}

.best-product-figcaption .fig-btn{
    display: inline-block;
    padding: .7rem 1.9rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    background: var(--color-shape-lite);
    border: 2px solid var(--color-shape-lite);
    color: var(--color-white);
    font-size: 1.1em;
}

.best-product-figcaption .row{
    margin-top: 2.5rem;
}

.best-product-figcaption .row i{
    font-size: 1.8rem;
    vertical-align: middle;
}

.best-product-figcaption .row span{
    font-size: 1.1rem;
    font-weight: 900;
    vertical-align: middle;
    margin-right: .5rem;
}

.best-product-figcaption .row p{
    margin-top: 1rem;
    color: var(--color-gray);
}

@media screen and (min-width:992px){
    .best-product{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
   
    .best-product-fig{
        flex: 0 0 auto;
    }

    .best-product-figcaption{
        margin-top: 0;
        width: 50%;
    }

}